html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('https://i.imgur.com/mjVFo6c.jpg') no-repeat 50% 50% fixed; /* Background image from Imgur */
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "papyrus", sans-serif;
    font-weight: 300;
}

/* Styles for the deck of cards */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #409ab7 0%, #78cc5a 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #213246;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #e9a5c6;
    cursor: default;
    pointer-events: none;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #646e95;
    font-size: 33px;
}

.deck .card.wrong {
  cursor: default;
  background: #a52c1f;
}

/* Styles for the score panel */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    font-family: "papyrus", sans-serif;
    font-size: 18px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.moves {
  margin-left: 25px;
}

.timer {
  margin-left: 25px;
  display: inline-block;
}

/* Styles for the winning modal */

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 65%;
  width: 65%;
}

.modalContent {
  justify-content: center;
  text-align: center;
  padding: 20px;
  background: linear-gradient(160deg, #f7bbc9 0%, #b83d6b 100%);
  font-size: 20px;
  font-family: "papyrus", sans-serif;
}

.inlineStars li {
  display: inline-block;
  font-size: 20px;
  list-style: none;
}

#playAgain {
  background-color: #fcf0dd;
  padding: 15px;
  width: 50%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: "papyrus", sans-serif;
  cursor: pointer;
}

.replay {
  cursor: pointer;
}
